@charset "UTF-8";
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  background-color: #83d5dcb3;
  padding: 10px;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(198, 234, 231, 0.84);
  padding: 20px;
  font-size: 20px;
  text-align: center;
}
#item1{
  grid-column-start: 1;
  grid-column-end: 5;
  font-size: 32px;
}
#item2{
  grid-column-start: 1;
  grid-column-end: 4;
  font-size: 15px;
}

#item5{
  display: grid;
  grid-template-rows: auto;
  grid-column-start: 2;
  grid-column-end: 5;
  font-size: 20px;
}
#item6{
  grid-column-start: 1;
  grid-column-end: 5;
}

